/* body {
    background-image: url("https://www.soprasteria.be/images/librariesprovider2/sopra-steria-benelux-images/banner-inner-carousel-single-line-card-headquarters-(1560x515)/appviewx-header-1560-51531f68633e7fd6c36b458ff000034b0d9.png?sfvrsn=290beadc_0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
   */